@charset "utf-8";
$black: #060606;
$blue: #87f2ff;
$pink: #ff87db;
$yellow: #fffb87;
$white: #f4f1de;
$green: #93ff93;

// Update Bulma's global variables

// Update some of Bulma's component variables
$body-background-color: $black;
$navbar-item-img-max-height: 100000000px;
$navbar-height: 8rem;
$navbar-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-hover-background-color: transparent;
$body-family: 'Roboto', sans-serif;
$title-color: $white;

//custom css
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'noway';
  src: url('../fonts/nowayround-regular-webfont.ttf');
}

* {
  color: $white;
}

.one h1 {
  color: $white;
  font-size: 3.5rem !important;
  font-family: noway;
}

.one-big {
  max-width: 551px;
}

.navbar-item img {
  width: auto;
  height: 8rem;
}

.logo-text {
  font-family: noway;
  font-size: 3rem;
}

.end {
  font-weight: bold;
}

.space {
  width: 5rem;
  height: 5px;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: $blue;
  text-underline-offset: 0.5rem;
}

.active:hover {
  color: $white !important;
}

.bold {
  font-weight: 700;
}

.one {
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.one-big button {
  background-color: $green;
  border-color: $green;
  margin-top: 2vh;
  //width: 7rem !important;
}

.no {
  font-family: noway;
}

.two {
  display: flex;
  //align-items: flex-end;
}

.two img {
  width: 50%;
  margin: 0 auto;
}

.do {
  width: 30%;
}

.do p {
  max-width: 80%;
}

.three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1vw;
  position: relative;
  box-sizing: border-box;
  padding: 2vw;

  $border: 5px;
  color: $white;
  background: $black;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 0.5em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(
      148deg,
      rgba(191, 147, 255, 1) 0%,
      rgba(255, 147, 178, 1) 100%
    );
  }
}

.fa-check-circle {
  margin-top: 0.3vw;
  margin-right: 1vw;
  float: left;
  color: #dcf9ff;
}

.item {
  background-color: #272933;
  margin-top: 2vw;
  width: 25%;
  height: 100%;
  border-radius: 0.5em;
  border: 3px solid #dcf9ff;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  height: 35vh;
}

.item img {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}

.info {
  width: 80%;
  margin: 0 auto;
}

.five p {
  color: $white;
}

@import '../node_modules/bulma/bulma.sass';
