@charset "utf-8";

//colours
$black: #060606;
$blue: #87f2ff;
$pink: #ff87db;
$yellow: #fffb87;
$white: #f4f1de;
$green: #93ff93;

// bulma variables
$body-background-color: $black;
$navbar-item-img-max-height: 100000000px;
$navbar-height: 8rem;
$navbar-background-color: $black;
$navbar-item-color: $white;
$navbar-item-hover-background-color: transparent;
$body-family: 'Roboto', sans-serif;
$title-color: $white;
$input-background-color: #272933;
$input-color: $white;

//custom css
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'noway';
  src: url('../fonts/nowayround-regular-webfont.ttf');
}

* {
  color: $white;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.one h1 {
  color: $white;
  //font-size: 3.5rem !important;
  font-family: noway;
}

.one-big {
  max-width: 551px;
}

.navbar-item img {
  width: auto;
  height: 8rem;
}

.logo-text {
  font-family: noway;
  font-size: 3rem;
}

.end {
  font-weight: bold;
}

.space {
  width: 5rem;
  height: 5px;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: $blue;
  text-underline-offset: 0.5rem;
}

.active:hover {
  color: $white !important;
}

.bold {
  font-weight: 700;
}

.one {
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.one-big button {
  background-color: $green;
  border-color: $green;
  margin-top: 2vh;
  //width: 7rem !important;
}

.no {
  font-family: noway;
}

.two {
  display: flex;
  justify-content: center;
}

.two img {
  width: 50%;
  margin: 0 auto;
}

.do {
  width: 30%;
}

.do img {
  height: 13vw;
}

.do p {
  max-width: 80%;
}

.three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1vw;
  position: relative;
  box-sizing: border-box;
  padding: 2vw;
  color: $white;
  background: $black;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 0.5em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(
      148deg,
      rgba(191, 147, 255, 1) 0%,
      rgba(255, 147, 178, 1) 100%
    );
  }
}

.fa-check-circle {
  margin-top: 0.3vw;
  margin-right: 1vw;
  float: left;
  color: #dcf9ff;
}

.item {
  background-color: #272933;
  margin-top: 2vw;
  width: 27%;
  border-radius: 0.5em;
  border: 3px solid #dcf9ff;
}

.portfolio {
  display: flex;
  justify-content: space-between;
}

.item img {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}

.info {
  width: 80%;
  margin: 0 auto;
}

.five p {
  color: $white;
}

.center {
  margin: 0 auto;
  display: block;
}

.dom {
  max-width: 70%;
}

.dom img {
  height: 40vw;
  margin: 0 auto;
}

.itemm {
  background-color: #272933;
  border-radius: 0.5em;
  border: 3px solid #dcf9ff;
}

.itemm img {
  width: 70%;
  margin: 0 auto;
  display: block;
  margin-top: 5vw;
}

.infom {
  width: 70%;
  margin: 0 auto;
}

/*.contact {
  width: 70vw;
  margin: 0 auto;
  
}*/

.contact {
  position: relative;
  color: $white;
  background: $black;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 0.5em;
  padding: 2vw;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(
      148deg,
      rgba(147, 255, 147, 1) 0%,
      rgba(255, 234, 147, 1) 100%
    );
  }

  max-width: 1000px;
  margin: 0 auto;
}

@import '../node_modules/bulma/bulma.sass';
